@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --color-soviet-red: #D9281C;
  --color-brutal-yellow: #FFDE4D;
  --color-void-black: #0C0C0C;
  --color-paper-cream: #F2EFE9;
  --color-border-dark: #2A2A2A;
  --color-surface-dark: #1A1A1A;
  --font-sans: "Inter", sans-serif;
  --font-mono: "Space Mono", monospace;
  --font-boldonse: "Boldonse", sans-serif;
}

@layer base {
  /* Strictly sharp corners everywhere */
  *, *::before, *::after { 
    border-radius: 0px !important; 
  }
  
  body {
    background-color: var(--color-void-black);
    color: var(--color-paper-cream);
    font-family: var(--font-sans);
    -webkit-font-smoothing: antialiased;
    overflow-x: hidden;
  }

  ::selection {
    background-color: var(--color-paper-cream);
    color: var(--color-void-black);
  }
}

/* Custom utilitarian links */
.link-raw {
  color: var(--color-soviet-red);
  text-decoration: underline;
  text-underline-offset: 4px;
  text-decoration-thickness: 1.5px;
  transition: all 150ms ease-in-out;
}
.link-raw:hover {
  background-color: var(--color-soviet-red);
  color: #FFFFFF;
  text-decoration: none;
}

